@font-face {
    font-family: Goose;
    src: url("fonts/19319.ttf");
}

ul > li {
    margin-bottom: 7px;
}
h2 {
    font-size: 22px;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

/* =====================
      SIDEBAR SECTION*/
.sidebar {
    color: #fff;
    background-color: #514E4E;    
    border-radius: 0px 20px 20px 0px;
}
.sidebar-article {
    margin: 0px 5px 20px 5px;
}
.sidebar-article > h2 {
    display: block;
    margin-bottom: 10px;
}

/* Main photo */
.main-photo {
    margin-bottom: 40px;
}
.main-photo__img {
    /* max-width: 200px; */
    height: 280px;    
    border-radius: 0px 20px 0px 20px;
}
.main-photo__caption {
    display: none;
}
/* End of main photo */

/* Contacts */
.contacts__list > li {
    display: flex;
    flex-direction: row;
}
.contacts__img {
    margin-right: 20px;
}
.icon {
    width: 16px;
    height: 16px;
}
.contacts__link {
    color: #fff;
    text-decoration: none;
}
.contacts__link:hover,
.contacts__name:hover {
    color:#f1bb56;
}
/* Contacts end */

/* Rating styles base */
.skills__rating {
	display: inline-block;
	font-size: 0;
}
.skills__rating span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.skills__rating > span:before {
	content: '★';
}
.skills__rating > span.rating-active {
	color: gold;
}
/* End of rating styles */
/* ==============
    SIDEBAR END */

/* ===============
    MAIN SECTION */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
    padding-right: 20px;
}
.main-header {
    margin: 30px 0px 30px 0px;
    text-align: center;
}
.header-status {
    font-size: 18px;
    font-weight: bold;
    color: #594E02;
}
.main-article:not(:last-child) {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #594E02;
}
.main-article > h2 {
    margin-bottom: 10px;
    color: #7a6a02;
    font-family: Goose;
}
.experience-list h3 {
    color: #5c5858;
    font-style: italic;
}
mark {
    background-color: #f1bb56;
}


.github-icon {
    display: inline;
}

.skills__list > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ==================
    MAIN END */


/* Media for smartphones */
@media screen and (max-width: 770px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        border-radius: 0px 0px;
    }
    .sidebar {
        padding: 10px 70px;
        border-radius: 0px 0px;
    }
    .main-content {
        padding: 0px 20px;
    }
    .main-photo__img {
        width: 100%;
        height: 100%;
        /* margin: 10px auto; */
    }
    .main-photo__caption {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        color: #fff;
    }
    .main-photo__caption-name {
        font-size: 26px;
        font-weight: bolder;
    }
    .main-photo__caption-status {
        font-size: 20px;
        color: #eed84a;
    }
    .main-header {
        display: none;
    }

    h2 {
        font-size: 24px;
    }
    
}